.about {
}

.about img {
  border-radius: 5px;
  width: 220px;
  margin: 0 1rem;
}

.timeline {
  padding-left: 10rem;
}

.timeline section {
  position: relative;
  padding-bottom: 0.5rem;
}

.timeline section:before {
  content: "";
  position: absolute;
  left: -2rem;
  top: 0;
  bottom: -1rem;
  width: 2px;
  background: #fff;
}

.timeline section:after {
  content: "";
  height: 1rem;
  width: 1rem;
  border: 2px solid #fff;
  position: absolute;
  left: -2.55rem;
  transform: rotate(45deg);
  background: #000;
  top: 0.6rem;
}

.timeline h3 {
  position: absolute;
  top: 0;
  right: calc(100% + 3.5rem);
  white-space: nowrap;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: normal;
}
